<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Status</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 90%;
        }

        .success-message {
            color: #4caf50;
        }

        .error-message {
            color: #f44336;
        }

        @media only screen and (max-width: 600px) {
            .container {
                padding: 10px;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <% if (success) { %>
            <h1 class="success-message">Email Verification Successful!</h1>
            <p>Your account has been successfully verified. Please LogIn</p>
        <% } else { %>
                <h1 class="error-message">Email Verification Failed!</h1>
                <p>There was an error verifying your account. Please try again later.</p>
        <% } %>
    </div>
</body>

</html>